<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Arizonia&family=Dancing+Script:wght@700&family=Gabriela&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/styles.css" />

  <title>From top to Bottom Cleaning</title>
</head>

<body class="container-flex">
  <div class="border-bottom">
    <nav class="navbar navbar-expand-lg navbar-default navbar-light" id="navbarText">
      <a class="navbar-brand contact-header">📞 (925) 848-6748</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="../../index.html">Home</a>
          <a class="nav-item nav-link active disabled" href="">Services</a>
          <a class="nav-item nav-link" href="about.html">About Us</a>
          <a class="nav-item nav-link" href="contact.html">Contact</a>
        </div>
      </div>
    </nav>
  </div>



  <div class="jumbotron jumbotron-service border-bottom">
    <div class="container">
      <h1 class="display-1 services-title">Services</h1>
      <h3 class="services-description">Our cleaning services strech far and wide. We offer <b>free</b> home estimates so we can come out and give you a more accurate cost analysis. We are available on <b>Weekly,
          Bi-Weekly, or Monthly</b> appointments.</h3>
    </div>
  </div>

  <div class="border-bottom">
    <div class="container">
      <h3 class="services-subtitle"> Our Commercial & Residential cleaning services include but are not limited to:</h3>
      <div class="row">
        <div class="col-md-2 service-item text-center">
          <img class="img-fluid img-service " src="../images/cleaning-10.svg" />
          <p class="service-text">Professional Disinfecting</p>
        </div>
        <div class="col-md-2 service-item text-center">
          <img class="img-fluid img-service" src="../images/maid.svg" />
          <p class="service-text">Floor Cleaning of All Types</p>
        </div>
        <div class="col-md-2 service-item text-center">
          <img class="img-fluid img-service" src="../images/maid-2.svg" />
          <p class="service-text">Cleaning and Organizing</p>
        </div>
        <div class="col-md-2 service-item text-center">
          <img class="img-fluid img-service" src="../images/mover.svg" />
          <p class="service-text">Move-in & Move-out</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 service-item text-center">
          <img class="img-fluid img-service" src="../images/multiple-users-silhouette.svg" />
          <p class="service-text">Amazingly Experienced Team</p>
        </div>
        <div class="col-md-2 service-item text-center">
          <img class="img-fluid mx-auto img-service" src="../images/balloons.svg" />
          <p class="service-text">Event Set-up & Take Down</p>
        </div>
        <div class="col-md-2 service-item text-center">
          <img class="img-fluid img-service" src="../images/molecular.svg" />
          <p class="service-text">Referals</p>
        </div>
      </div>
      <div class="text-muted text-right mt-3 mb-3">*Icons made by <a class="text-muted" href="https://www.flaticon.com/authors/freepik" title=" Freepik "> Freepik </a> from <a class="text-muted" href="https://www.flaticon.com/" title=" Flaticon ">
          www.flaticon.com</a>
      </div>
    </div>

  </div>

  <footer class="mt-auto">
    <p class="text-muted text-center">This page was created by
      <a class="text-muted" href="https://github.com/mrodriguez3313"> Marco Rodriguez </a> and <a class="text-muted" href="https://github.com/alancastilleja"> Alan Castilleja.</a>
    </p>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>