<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="public/styles/styles.css" />

  <title>From top to Bottom Cleaning</title>
</head>

<body class="container-flex">
  <div class="border-bottom">
    <div class="navbar" id="navbarText">
      <a class="nav-item contact-header">📞 (925) 848-6748</a>
      <nav class="navbar justify-content-end">
        <a class="nav-item nav-link" href="../../index.html">Home</a>
        <a class="nav-item nav-link active disabled" href="">Services</a>
        <a class="nav-item nav-link" href="about.html">About Us</a>
        <a class="nav-item nav-link" href="contact.html">Contact</a>
      </nav>
    </div>
  </div>


  <div class="jumbotron">
    <h1 class="display-4">Services</h1>
    <p class="lead">Our cleaning services strech far and wide. We offer <b>free</b> home estimates so we can come out and give you a more accurate cost analysis. We are available on <b>Weekly,
        Bi-Weekly, or Monthly</b> appointments.</p>
    <hr class="my-4">
    <p> Our Commercial & Residential cleaning services include but are not limited to:</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 service-item">
        <img class="img-fluid img-thumbnail" src="../images/cleaning-10.svg" />
        <p>Residential & Commercial Disinfecting</p>
      </div>
      <div class="col-md-3 service-item">
        <img class="img-fluid img-thumbnail" src="../images/maid.svg" />
        <p>Floor Cleaning of All Types</p>
      </div>
      <div class="col-md-3 service-item">
        <img class="img-fluid img-thumbnail" src="../images/maid-2.svg" />
        <p>Cleaning and Organizing</p>
      </div>
      <div class="col-md-3 service-item">
        <img class="img-fluid img-thumbnail" src="../images/mover.svg" />
        <p>Move-in & Move-out</p>
      </div>
    </div>
  </div>
  </div>
  <ul>
    <li>Dusting and Sanitizating</li>
    <li>Floor Cleaning
      <ul>
        <li>laminate</li>
        <li>tile</li>
        <li>hardwood</li>
        <li>carpet</li>
      </ul>
    <li>Bathrooms</li>
    <li>Living Spaces</li>
    <b>and more!</b>
    </li>
  </ul>
  <h5>We work Move-ins and Move-outs</h5>
  <h5>Set Up and Take Down of Parties & other Events</h5>
  <h5>If there is a task we can't perform we can refer you someone who can, within our network!</h5>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>