<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" type="image/png" href="../images/favicon.ico" />


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Arizonia&family=Dancing+Script:wght@700&family=Gabriela&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/styles.css" />

  <title>Message Sent!</title>
</head>

<body class="container-flex">
  <div class="border-bottom">
    <nav class="navbar navbar-expand-lg navbar-default navbar-light" id="navbarText">
      <a class="navbar-brand contact-header">📞 (925) 848-6748</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="../../index.html">Home</a>
          <a class="nav-item nav-link" href="services.html">Services</a>
          <a class="nav-item nav-link" href="about.html">About Us</a>
          <a class="nav-item nav-link active" href="contact.html">Contact</a>
        </div>
      </div>
    </nav>
  </div>

  <div class="container text-center alignment">
    <img class="" src="../images/favicon.ico" alt="FTTBC house logo">
    <h1 class="display-4 title font-weight-bold">From Top To Bottom Cleaning</h1>
    <h3 class="mb-4 mt-4">Message sent!</h3>
    <p>We will be contacting you soon to continue the conversation.</p>
    <p>Look out for an email from esavilla53@gmail.com.</p>
    <p>Thank you for choosing us to clean your space!</p>
  </div>
</body>
