.navbar {
  background-color: #ffd1dc;
}

.contact-header {
  margin-top: .8rem;
  font-size: 1.3rem;
}

.img-logo {
  margin-top: 1rem;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  max-width: 100%;
  height: auto;
}

.carousel-inner>.carousel-item>img {
  width: 400px !important;
  height: 480px !important;
  margin: auto;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.carousel-control-next,
.carousel-control-prev {
  /*, .carousel-indicators */
  filter: invert(100%);
}

.jumbotron-service {
  background-color: #ffd1dc;
}

.img-service {
  width: 154px;
  height: 120px;
  margin: 16px auto;
}

.service-item {
  border-radius: 10%;
  border-style: solid;
  margin: 0 auto;
  background-color: #ffd1dc;
}

.service-text {
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 100px;
}