.contact-header {
  margin-top: .8rem;
  font-size: 1.3rem;
}

.img-logo {
  margin-top: 1rem;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  max-width: 100%;
  height: auto;
}