.contact-header {
  margin-top: .8rem;
  font-size: 1.3rem;
}

.img-logo {
  margin-top: 1rem;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  max-width: 100%;
  height: auto;
}

.carousel-inner>.carousel-item>img {
  width: 400px !important;
  height: 480px !important;
  margin: auto;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.carousel-control-next,
.carousel-control-prev {
  /*, .carousel-indicators */
  filter: invert(100%);
}

.service-item {
  height: 84px;
  border-style: solid;
}